@media (prefers-color-scheme: dark) {
  :root {
    --bg-main-colour: black;
    --bg-nav-colour: black;
    --text-highlight-colour: 0, 123, 255;
    --text-main-colour: 255, 255, 255;
    --text-heading-colour: 255, 255, 255;
    --button-main-colour: 255, 255, 255;
    --tag-colour-intensity: 0.5;
  }

  body {
    color: rgba(var(--text-main-colour), 0.75);
    background-color: var(--bg-main-colour);
  }

  h1, h2, h3, h4, h5, h6 {
    color: rgba(var(--text-highlight-colour), 0.75);
  }

  a {
    color: rgba(var(--text-highlight-colour), 0.8);
  }

  a:hover, a:focus, a:active {
    color: rgba(var(--text-highlight-colour), 1);
  }

  .list-social-icons a {
    color: rgba(var(--text-main-colour), 0.75);
  }

  .list-social-icons a:hover {
    color: rgba(var(--text-highlight-colour), 1);
  }

  .fa-inverse {
    color: var(--bg-main-colour);
  }

  .fa-inverse:hover {
    color: rgba(var(--text-main-colour), 1);
  }
}

/* Colour scheme for dark themes */
.bg-primary-dark {
  background-color: var(--bg-main-colour) !important;
}

.navbar-bg-dark {
  background-color: var(--bg-nav-colour) !important;
}

.text-primary-dark {
  color: rgba(var(--text-highlight-colour), 1) !important;
}

.button-dark {
  background-color: transparent;
  border-color: rgba(var(--button-main-colour), 0.75);
  color: rgba(var(--text-main-colour), 0.75);
}

.button-dark:hover, .button-dark:focus, .button-dark:active {
  border-color: rgba(var(--text-highlight-colour), 1);
}

pre code {
  color: rgba(var(--text-main-colour), 0.75) !important;
}
