:root {
  --bg-main-colour: white;
  --bg-nav-colour: white;
  --text-highlight-colour: 0, 51, 102;
  --text-main-colour: 134, 142, 150;
  --text-heading-colour: 52, 58, 64;
  --button-main-colour: 204, 230, 255;
  --tag-colour-intensity: 0.5;
}

body {
  color: rgba(var(--text-main-colour), 1);
  background-color: var(--bg-main-colour);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(var(--text-highlight-colour), 1);
}

a {
  color: rgba(var(--text-highlight-colour), 0.8);
}

a:hover, a:focus, a:active {
  color: rgba(var(--text-highlight-colour), 1);
}

.button-light {
	background-color: transparent;
	border-color: rgb(var(--button-main-colour));
}
 .button-light:hover, .button-light:focus, .button-light:active {
	 border-color: rgba(var(--text-highlight-colour), 1);
 }

.bg-primary-light {
  background-color: var(--bg-main-colour) !important;
}

.navbar-bg-light {
  background-color: var(--bg-nav-colour) !important;
}

.text-primary-light {
  color: rgba(var(--text-highlight-colour), 1) !important;
}

.list-social-icons a {
  color: rgba(var(--text-main-colour), 1);
}

.list-social-icons a:hover {
  color: rgba(var(--text-highlight-colour), 1);
}

#contact-map { -webkit-filter: saturate(0%) brightness(100%) contrast(100%); }

pre code {
  color: rgba(var(--text-main-colour), 1) !important;
}
