:root {
  --tag-height: 26px;
  --arrow-size: 10px;
}
.p-0{
  margin: 0 auto;
}

.devicons{
  font-size:1.5em;
      vertical-align: sub;
}

@media (min-width: 992px) {
  .page-content {
    width: 90%;
  }
}

h3{
    margin-top:40px;
}

h3.mb-0{
    margin-bottom:0;
}

div.skills-heading{
    margin-top:1em;
    margin-bottom:0 !important;
}



/* From https://codepen.io/wbeeftink/pen/dIaDH */
.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: rgba(var(--text-highlight-colour), var(--tag-colour-intensity));
  border-radius: 3px 0 0 3px;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  height: var(--tag-height);
  line-height: var(--tag-height);
  padding: 0 var(--tag-height) 0 var(--tag-height);
  position: relative;
  margin: 0 calc(var(--tag-height) / 2) calc(var(--tag-height) / 2) 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: rgba(255, 255, 255, 1);
  border-radius: calc(var(--tag-height) / 2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: calc(var(--tag-height) / 4);
  left: calc(var(--tag-height) / 2);
  position: absolute;
  width: calc(var(--tag-height) / 4);
  top: 10px;
}

.tag::after {
  background: var(--bg-main-colour);
  border-bottom: calc(var(--tag-height) / 2 + 0.4px) solid transparent;
  border-right: var(--arrow-size) solid rgba(var(--text-highlight-colour), var(--tag-colour-intensity));
  border-top: calc(var(--tag-height) / 2) solid transparent;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.tag:hover {
  background-color: rgba(var(--text-highlight-colour), 1);
  color: white;
}

.tag:hover::after {
   border-right-color: rgba(var(--text-highlight-colour), 1);
}

.project-fact{
  font-size:80%;
  font-style:italic;
}

.resume-section blockquote {
    border-left: 4px solid #BD5D38;
    padding-left: 1em;
}

.breadcrumb {
  background: var(--bg-main-colour) !important;
}
